<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Django blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body class="body">
    <div class="page-header">
        <h1><a href="/">Django Girls Blog</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    <script>
        function set2fig(num) {

            var ret;
            if (num < 10) {
                ret = "0" + num;
            } else { ret = num; }
            return ret;
        }
        function showClock1() {
            let nowTime = new Date();
            let nowHour = set2fig(nowTime.getHours());
            let nowMin = set2fig(nowTime.getMinutes());
            let nowSec = set2fig(nowTime.getSeconds());
            let msg = "time is : " + nowHour + ":" + nowMin + ":" + nowSec;
            document.getElementById("RealtimeClockArea").innerHTML = msg;
        }
        setInterval('showClock1()', 1000);

    </script>

    <p class="clock" , id="RealtimeClockArea"></p>
</body>
</html>
